<%= form_for :translation, url: translations_path do |f| %>

  <p>
    <%= f.label :english, 'Ingles' %><br>
    <%= f.text_field :english %>
  </p>

  <p>
    <%= f.label :portuguese, 'Portugues' %><br>
    <%= f.text_field :portuguese %>
  </p>

  <p>
    <%= f.submit 'Enviar'%>
  </p>
<% end %>
