<h1>Tradução de <%= @translation.portuguese %></h1>

<p>A tradução é: <%= @translation.english %>


<%= link_to 'Editar', edit_translation_path(@translation) %>

<%= link_to 'Voltar', root_path %>

<%= link_to 'Apagar', translation_path(@translation),
            method: :delete,
            data: { confirm: 'Tem certeza que deseja deletar?' } %>
